<div [formGroup]="group" class="form-group">
  <label for="{{config.name}}">{{config.label}}<span [hidden]="!config.required" style="color:red">*</span></label>
  <input type="{{config.htmlType}}" placeholder="{{config.label}}" class="form-control" name="{{config.name}}" formControlName="{{config.name}}" value="{{config.value}}">
  <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>

</div>
