<div align="center">
  <spinner size="40" *ngIf="working" [tickness]="1" color="#2D5F8B"></spinner>
</div>

<div class="card mb-3">
  <div class="card-header">{{config.props.title}}</div>
  <div class="card-block">
    <form action="{{config.props.action}}" method="post" (submit)="submit($event)" [formGroup]="group">

      <ng-container
        *ngFor="let element of config.elements"
        dynamicField
        [group]="group"
        [config]="element">

      </ng-container>

    </form>
  </div>
</div>
