<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="company-name">ParentAps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['users']">  <i class="fa fa-reorder"></i> List</a>
            <a class="dropdown-item" [routerLink]="['users/add']"><i class="fa fa-user-plus"></i> Add</a>
            <a class="dropdown-item" [routerLink]="['users/edit']"><i class="fa fa fa-edit"></i> Edit</a>

          </div>
        </li>

        <li class="nav-item">
          <a (click)="logout($event)" href="#" class="nav-link" >Logout</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="dashboard-content justify-content-md-center" style="margin-top:20px">
    <router-outlet></router-outlet>
  </div>
</div>
