<div align="center">
  <spinner size="40" *ngIf="working" [tickness]="1" color="#2D5F8B"></spinner>
</div>

<div class="table-responsive" *ngIf="data.length">
<table class="table table-condensed table-striped table-bordered table-hover table-checkable order-column" >
  <thead>
    <tr>
        <th *ngFor="let colName of config.colsNames">{{colName }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">

      <td *ngFor="let fieldName of config.fieldsNames">
        <a  (click)="clicked($event,row)" *ngIf="!fieldName.img">{{ row[fieldName.name]}}</a>
        <a  (click)="clicked($event,row)" *ngIf="fieldName.img">
          <img src="{{ row[fieldName.name]}}"  class="rounded img-thumbnail">
        </a>

        <div *ngIf="fieldName.actions">
          <ng-container *ngFor="let btn of fieldName.btns">
            <button (click)="btn_action(row,btn.actionType)"  type="button" class="btn {{btn.class}}"><i class="fa {{btn.icon}}"></i> {{btn.title}}</button>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>

<nav *ngIf="data.length">
    <ul class="pagination" style="visibility: visible;">
      <li class="page-item" *ngIf="page > 1">
        <a class="page-link" (click)="first($event)" title="First">First</a>
      </li>
      <li class="page-item" *ngIf="page > 1">
        <a class="page-link" (click)="prev($event)" title="Prev">Previous</a>
      </li>
      <li class="page-item active">
        <a class="page-link">{{page}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" title="Next" (click)="next($event)" *ngIf="page < last_page">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="last($event)" *ngIf="page < last_page" title="Last">Last</a>
      </li>
    </ul>
</nav>
