<div class="container-fluid login">
  <div class="login-form">
    <dynamic-form (groupCreated)="onGroupCreated($event)" [config]="config" (afterSubmited)="afterSubmited($event)"></dynamic-form>
  </div>
</div>
